.container .right main .medicaments {
    position: relative;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    background: #22223be6;
    box-shadow: 10px 10px 30px rgba(34, 34, 59, 0.5), 
    inset -8px -8px 16px 0px rgba(34, 34, 59, 0.6), 
    inset 0px 11px 28px 0px rgba(34, 34, 59, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    grid-row: 4 / 7;
    padding: 10px 20px;
    gap: 5px;
}

.container .right main .medicaments .medicamentsHead {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
}

.container .right main .medicaments .medicamentsHead h2 {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 18px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

.container .right main .medicaments .medicamentsDots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container .right main .medicaments .medicamentsDots span {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
}

.container .right main .medicaments .medicamentsUser {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    gap: 20px;
}

.container .right main .medicaments .medicamentsUser .medicamentsUserImg {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.container .right main .medicaments .medicamentsUser .medicamentsUserImg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.container .right main .medicaments .medicamentsUser h2 {
    position: relative;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 18px;
}

.container .right main .medicaments .medicamentsUser h2 span {
    color: #f1a8a8;
    font-size: 0.6em;
}

.container .right main .medicaments .medicamentsUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container .right main .medicaments .medicamentsUserInfo {
    flex-grow: 1;
}

.container .right main .medicaments .medicamentsUserCity {
    text-align: right;
    font-size: 1em;
    color: #ccc;
}

.container .right main .medicaments .medicamentsUserInfo h2 {
    color: #fff;
    font-size: 1em;
    margin: 0;
}

.container .right main .medicaments .medicamentsUserInfo .priority{
    font-size: 0.8em;
    color: #f1a8a8;
}

